@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gaegu&display=swap');

:root {
    --font-main: "Gabarito", sans-serif;
    --font-second: "Gaegu", sans-serif;
    --regular-bold: 500;
    --semi-bold: 600;
    --bold: 700;
    --extra-bold: 800;
    --main-size: 24px;
}

body {
    height: 100vh;
    box-sizing: border-box;
    font-size: var(--main-size);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #03AED2;
}

.card {
    width: 60%;
    padding: 1.5em;
    background-color: #FEEFAD;
    color: #74512D;
    border: 3px dashed #74512D;
    border-radius: 8px;
}

h1 {
    font-family: var(--font-second);
    font-weight: var(--semi-bold);
    font-size: 2em;
    text-align: center;
}

p {
    text-align: center;
    font-size: 1em;
    font-family: var(--font-main);
}